.cover{
  width : 73vw;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 25px;
  margin-left: auto;
}
.headings{
  color : green;
  font-weight: medium;
  font-size: 23px;
}

@media (max-width: 720px) {
  .cover{
  padding-left: 30px;
  font-size: small;
  width: 100%;
  margin-left: 40px;

  }
}